/* General CSS */

html {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: purple;
    font-size: 1rem;
}

h2 {
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
}

a:hover {
    color: violet;
}

body {

    background-color: rgb(211, 97, 217);
}

/* ---------------------------------------------------------------------------------------------------------- */


/* Portofolio */

.portfolio-body {
    width: 90%;
}

.portfolio-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.portfolionav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.projectslist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

#text-btn {
    letter-spacing: 1px;
    background-color: pink;
    color: purple;
    font-weight: 900;

    font-size: 1rem;
    cursor: pointer;

    width: auto;
    border-radius: 4px;

}

#text-btn:hover {
    text-shadow: 2px 2px rgb(141, 135, 141);
}


/* ---------------------------------------------------------------------------------------------------------- */



/* Pets gallery */

.pets-body {
    width: 100%;
}

.pets-header {
    display: flex;
    justify-content: center;
    font-size: 100%;
    margin-bottom: 2%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;

}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
}

.puffle-des {
    width: 70%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    font-weight: 100;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    cursor: pointer;
}

.img-container {
    width: 200px;
    border: 3px solid black;
    border-radius: 20px;

    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img1 {
    background-image: url(/portfolio/pets/yellowback.png);
}

#img2 {
    background-image: url(/portfolio/pets/blueback.png);
}

#img3 {
    background-image: url(/portfolio/pets/dragonback.png);
}

#img4 {
    background-image: url(/portfolio/pets/brownback.png);
}

#img5 {
    background-image: url(/portfolio/pets/redback.png);
}

#img6 {
    background-image: url(/portfolio/pets/greenback.png);
}

.img-container:hover {
    box-shadow: 10px 10px 10px 10px rgb(59, 3, 61);
    transform: translateY(-10px);
}

.backlink-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.portfoliolink {
    font-size: 250%;
    margin-top: 20%;
}


/* ---------------------------------------------------------------------------------------------------------- */


/* Mobile Responsive */

@media (max-width: 600px) {

    /* Navigation */
    .portfolionav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    /* Projects */
    .projectslist {
        grid-template-columns: 1fr;
    }

    /* Pets gallery */
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablets Resposnive */
@media (min-width: 601px) and (max-width: 900px) {

    /* Projects */
    .projectslist {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Pets gallery */
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}